body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

header, .header-modal-edit {
  height: 85px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  margin-top: 3px;
}

button:focus {
  outline: black auto 1px;
}

input, textarea, button, select, a, svg {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.hoverable {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
  transition: box-shadow 500ms;
}

.hoverable:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
}

.in-animation-faster {
    opacity: 0;
    animation: inAnimation 0.3s forwards 0s ease;
}

.in-animation {
    opacity: 0;
    animation: inAnimation 0.5s forwards 0s ease;
}

.in-animation-delay {
  opacity: 0;
  animation: inAnimation 0.5s forwards 1.5s ease;
}

.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-full-home {
    width: 145.12px;
    margin-left: 32px;
}

.button-logout {
    background-color: transparent;
    border: none;
    margin-right: 32px;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    color: black;
}

.button-logout:focus {
    border: none;
    outline: none;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.loader {
  color: #2e2e2e;
  font-size: 10px;
  margin: 100px auto;
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.no-naver {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  color: gray;
  font-size: large;
  cursor: default;
}

.add-naver-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-naver-sub-container {
  max-width: 592px;
  width: 95vw;
}

.add-naver-input-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 280px;
}

.add-naver-labels {
  font-style: normal;
  margin-bottom: 4px;
  margin-left: 1px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #212121;
}

.add-naver-labels-right {
  font-style: normal;
  margin-bottom: 4px;
  margin-left: 12px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #212121;
}

.add-naver-inputs {
  width: 280px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #424242;
  background: white;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 32px;
}

.add-naver-inputs-right {
  width: 280px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #424242;
  background: white;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 32px;
  margin-left: 11px;
}

.save-add-naver-button {
  color: white;
  border: 1px solid #212121;
  width: 176px;
  height: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  background: #212121;
  cursor: pointer;
}

.add-naver-footer-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.add-naver-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-left: 16px;
}

.add-naver-header {
  margin-top: 40px;
  margin-bottom: 32px;
  display: flex;
  justify-content: flex-start;
}

#navers-title {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  margin: 0 0 0 32px;
}

#title-subheader {
  cursor: default;
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#add-naver {
  width: 176px;
  height: 40px;
  background-color: #212121;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: white;
  margin: 0 32px 0 0;
  cursor: pointer;
  border: none;
  outline: none;
  transform: scale(1.0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
  transition: box-shadow 200ms, transform 200ms;
}

#add-naver:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.35);
}

#add-naver:active {
  transform: scale(0.96);
}

#button-submit-login {
  border: none;
  outline: none;
  transform: scale(1.0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
  transition: box-shadow 200ms, transform 200ms;
}

#button-submit-login:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.35);
}

#button-submit-login:active {
  transform: scale(0.97);
}

@media (max-width:450px){
  #add-naver {
    width: 280px;
  }
}

@media (max-width: 450px) {
  #title-subheader {
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #navers-title {
    margin: 0;
  }
  #add-naver {
    margin: 0 0 20px 0;
  }
}

@media (min-width: 1570px){
  .margin-header-left {
    margin-left: 53px !important;
  }
  .margin-header-right {
    margin-right: 53px !important;
  }
}

@media (max-width: 660px) {
  .add-naver-inputs-right {
    margin-left: 0;
  }
  .add-naver-labels-right {
    margin-left: 1px;
  }
  .add-naver-header {
    justify-content: center !important;
  }
  .center-media-inputs-add-navers {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .add-naver-footer-container {
    justify-content: center;
  }
  .save-add-naver-button {
    width: 280px;
    margin-bottom: 50px;
  }
}

@-webkit-keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
@keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}

@keyframes inAnimation{
    0%{
        opacity: 0;
        }
    100%{
        opacity: 1;
        }
}
