.card-index-container {
    width: 280px;
    margin: 0 auto 0 auto;
    overflow: hidden;
}

.card-index-container > .card-index-footer {
    display: block;
    text-align: start;
}

.card-index-container > img {
    cursor: pointer;
    position: relative;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 280px;
    height: 280px;
}
