.card-index-container {
    width: 280px;
    margin: 0 auto 20px auto;
    overflow: hidden;
}

.image-card-container {
    height: 280px;
    display: block;
    overflow: hidden;
}

.card-index-footer {
    display: block;
    text-align: start;
}

.card-image-style {
    cursor: pointer;
    position: relative;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 280px;
    height: 280px;
}

.delete-icon {
    cursor: pointer;
}

.edit-icon {
    cursor: pointer;
    margin-left: 7px;
}

.zoom-in {
    transform: scale(1.0);
    transition: transform 300ms;
}

.zoom-in:hover {
    transform: scale(1.05);
}

.zoom-in:active {
    transform: scale(0.97);
}

.slide-right {
    opacity: 0;
    transform: translateX(-30px);
    animation: slide-right 0.3s ease-in-out 0s both;
}

.close-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}

.delete-title {
    width: 163px;
    height: 36px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
}

.delete-subtitle {
    margin: 24px 0 21px 0;
}

.delete-footer-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cancel-delete-button {
    border: 1px solid #212121;
    width: 176px;
    height: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    background: white;
    margin: 12px;
    cursor: pointer;
}

.ok-delete-button {
    color: white;
    border: 1px solid #212121;
    width: 176px;
    height: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    background: #212121;
    margin: 12px;
    cursor: pointer;
}

@media (max-width: 660px) {
    .delete-footer-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@keyframes slide-right {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    85% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
