noscript {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  justify-content: center;
  height: 98vh;
  padding: 0 20px;
}

noscript > #noscript-title {
  font-size: x-large;
  font-weight: 600;
}

noscript > #noscript-body {
  text-align: center;
}

noscript > p {
  font-size: large;
}
