:root {
    --color-background: #ffffff;
    --color-text-base: #212121;

    font-size: 50%;
}

@media (max-width: 310px) {
    :root {
        font-size: 40%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    background: var(--color-background);
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

body,
input,
button,
textarea {
    font-family: 'Montserrat', sans-serif;
    font: 500 1.6rem Montserrat;
    color: var(--color-text-base);
}

.container {
    width: 90vw;
    max-width: 700px;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}