.login-container {
  border: 1px solid var(--color-border-base);
  border-radius: 0;
  padding: 0 3.4rem 3.4rem !important;
  font-size: 1.4rem !important;
}

.login-container input {
  border: 1px solid var(--color-border-base);
  border-radius: 0;
  width: 100% !important;
}

.login-container div,
.login-container button {
  width: 100% !important;
}

.login-container .logotype {
  width: 23.5rem !important;
  margin: 3.2rem 3.2rem !important;
}

.login-container button {
  background-color: var(--color-button-base);
  border-radius: 0;
  color: var(--color-text-light) !important;
  font-size: 1.4rem !important;
}

@media (min-width: 800px) {
  .login-container .logotype {
    width: 23.5rem !important;
    margin: 4rem 7.2rem !important;
  }
}
