* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;

}

@media (min-width: 1570px){
    .container {
        max-width: 1570px;
        padding: 0;
    }
}

.row {
    margin-left: -5px;
    margin-right: -5px;
}
.row:before, .row:after {
    content: "";
    display: table;
}
.row:after {
    clear: both;
}

.col {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-right: -4px;
    -webkit-zoom: 1;
    -moz-zoom: 1;
    -ms-zoom: 1;
    -o-zoom: 1;
    zoom: 1;
    -display: inline;
}

@media (min-width: 660px) {
    .col-2 {
        width: 50%;
    }
}

@media (min-width: 980px) {
    .col-3 {
        width: 33.3333%
    }
}

@media (min-width: 1220px) {
    .col-4 {
        width: 25%;
    }
}
